:root {
  --primary-color: #064420;
  --accent-color: #e4efe7;
  --bkgrd-color: #fdfaf6;
  --bkgrd-accent-color: #faf1e6;
}
body {
  max-width: 992px;
  margin: 0 auto;
  font-family: "Nanum Gothic", sans-serif;
  background-color: var(--bkgrd-color);
  text-align: center;
}
.navbar {
  background-color: var(--bkgrd-accent-color);
}
.navbar-brand {
  font-family: "Nanum Myeongjo", serif;
}
.hero {
  background-color: var(--bkgrd-accent-color);
  padding: 200px 0;
}
h1 {
  font-family: "Nanum Myeongjo", serif;
  color: var(--primary-color);
  font-size: 96px;
}
h2 {
  font-family: "Nanum Myeongjo", serif;
  color: var(--primary-color);
  font-size: 48px;
}
p {
  color: var(--primary-color);
  opacity: 70%;
  font-size: 16px;
}
.main-btn {
  padding: 18px 30px;
  background-color: var(--accent-color);
  box-shadow: 5px 5px 10px 0 rgba(174, 174, 192, 0.4),
    -5px -5px 30px 0 rgba(253, 250, 246, 1),
    inset -5px -5px 10px 0 rgba(174, 174, 192, 0.25),
    inset 5px 5px 10px 0 rgba(253, 250, 246, 1);
}
.contact-btn {
  color: var(--primary-color);
  padding: 10px 15px;
  border-radius: 8px;
  background-color: var(--bkgrd-color);
  box-shadow: 5px 5px 10px 0 rgba(174, 174, 192, 0.4),
    -5px -5px 30px 0 rgba(255, 255, 255, 1),
    inset -5px -5px 10px 0 rgba(174, 174, 192, 0.25),
    inset 5px 5px 10px 0 rgba(255, 255, 255, 1);
}
@media (max-width: 768px) {
  h1 {
    font-size: 55px;
  }
  .project-img {
    display: none;
  }
  .contact-icons {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .contact-icons {
    display: inline-flex;
    flex-direction: column;
    margin-top: 45px;
  }
}
